name: CI

on:
  push:
    paths:
      - "**.md"
    branches:
      - "main"
  pull_request:
    paths:
      - "**.md"
    branches:
      - "main"

jobs:
  mdlint:
    name: Lint Markdown
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # 2.3.4

      - name: Run markdownlint
        uses: nosborn/github-action-markdown-cli@9fc95163471d6460c35cccad13645912aaa25d5f # 1.1.1
        with:
          files: "."
          config_file: ".github/markdownlint.json"
